/* 
==================
Fonts
==================
 */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap");

/* 
==================
Variables
==================
 */
:root {
  --clr_primary: #678e3e;
  --clr_primary_light: #beed8c;
  --clr_grey_1: #102a42;
  --clr_grey_5: #617d98;
  --clr_grey_10: #f1f5f8;
  --clr_white: #fff;
  --ff_primary: "Catamaran", sans-serif;
  --ff_secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* 
===================
Global styles 
===================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff_primary);
  background: var(--clr_white);
  color: var(--clr_grey_1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

/* 
========================
Media Query
========================
 */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  body {
    font-size: 1rem;
  }
}
