/* 
==================
Fonts
==================
 */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap");

/* 
==================
Variables
==================
 */
:root {
  --clr_primary: #678e3e;
  --clr_primary_light: #beed8c;
  --clr_grey_1: #102a42;
  --clr_grey_5: #617d98;
  --clr_grey_10: #f1f5f8;
  --clr_white: #fff;
  --ff_primary: "Catamaran", sans-serif;
  --ff_secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* 
===================
Global styles 
===================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff_primary);
  background: var(--clr_white);
  color: var(--clr_grey_1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

.btn {
  background: var(--clr_primary);
  text-transform: uppercase;
  color: var(--clr_white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr_primary);
  background: var(--clr_primary_light);
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
.section-title h3 {
  font-family: var(--ff_secondary);
  color: var(--clr_primary);
}

.section-title {
  margin-bottom: 2rem;
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* 
========================
Header
========================
 */
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/mainbcg.jpg") center/cover no-repeat fixed;
  position: relative;
  overflow-x: hidden;
}
.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  font-family: var(--ff_secondary);
  color: var(--clr_primary);
  /* animation */
}
.banner h1 {
  color: var(--clr_white);
  text-transform: uppercase;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* animation */
}
.btn-banner {
  outline: 0.125rem solid var(--clr_primary);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
}

/* content - divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr_primary),
    #e9b949,
    var(--clr_primary)
  );
}

/* 
========================
Skill Section
========================
*/
.icon-heart {
  color: red;
  font-size: 0.9rem;
}
.skill-flag {
  display: inline-block;
  position: relative;
}
.icon-flag {
  width: 17px;
  position: absolute;
  transform: translate(0, -80%);
}
.skills {
  background: var(--clr_grey_10);
}
.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}

.skill-icon {
  display: inline-block;
  margin-bottom: 1.25rem;
  color: var(--clr_primary);
  font-size: 2.5rem;
  transition: var(--transition);
}

.skill-title {
  letter-spacing: 0.1rem;
  transition: var(--transition);
}
.skill-text {
  color: var(--clr_grey_5);
  max-width: 17rem;
  margin: 0 auto;
  transition: var(--transition);
}

.skill:hover {
  background: var(--clr_white);
  box-shadow: 0 3px var(--clr_primary);
}
.skill:hover .skill-icon {
  transform: translateY(-10px);
}
.skill:hover .skill-title {
  transform: scale(1.2, 2);
}
.skill:hover .skill-text {
  transform: translateY(5px);
}
/* 
========================
About section
========================
 */

.about-img,
.about-info {
  padding: 2rem 0;
}
.about-info {
  transition: var(--transition);
}
.about-picture-container {
  background: var(--clr_primary);
  border: 0.5rem solid var(--clr_primary);
  max-width: 30rem;
  overflow: hidden;
}

.about-picture {
  transition: var(--transition);
}

.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}

.about-text {
  max-width: 26rem;
  color: var(--clr_grey_5);
}

/* 
========================
Products section
========================
*/
.products {
  background: var(--clr_grey_10);
}
.products article {
  padding: 2rem 0;
}
.product-text {
  color: var(--clr_grey_5);
  max-width: 26rem;
}
.product {
  margin-bottom: 2rem;
}
.product-img {
  border-radius: var(--radius);
  margin-bottom: 2rem;
  height: 18rem;
  object-fit: cover;
}
.product-price {
  color: var(--clr_primary);
}
/* 
========================
Media Querys
========================
 */
/* Global */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}
/* Skills */
@media screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}

/* about */
@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }

  .about-info {
    padding-left: 2rem;
  }
}

/* Products */
@media screen and (min-width: 768px) {
  .product {
    float: left;
    width: 50%;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .product {
    width: 33.33%;
  }
}

@media screen and (min-width: 1200px) {
  .product-info {
    float: left;
    width: 30%;
  }
  .product-inventory {
    float: left;
    width: 70%;
  }
  .product {
    margin: 0;
    padding: 0 0.5rem;
  }
}
